<h1>Welcome your new baby!</h1>
<ul>
  <li>Food level:<span id="food_level"></span></li>
  <li>activity level:<span id="activity_level"></span></li>
  <li>rest level:<span id="rest_level"></span></li>
  <li>bathroom level:<span id="bathroom_level"></span></li>
</ul>

<img src="img/default.png">

<form action="/food">
  <button type="submit" class="btn btn-primary action">FEED</button>
</form>

<form action="/play">
  <button type="submit" class="btn btn-success action">PLAY</button>
</form>

<form action="/rest">
  <button type="submit" class="btn btn-warning action">REST</button>
</form>

<form action="/bathroom">
  <button type="submit" class="btn btn-danger action">BATHROOM</button>
</form>
